      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 25%;
    height: 57vh;
    position: absolute;
    transform: translate(-50%, -51%);
    left: 49%;
    top: 55%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
background: linear-gradient(#1845ad, #23a2f6);
    left: -30px;
    top: -44px;
}
.shape:last-child{
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -15px;
    bottom: -80px;
}
form{
height: 60vh;
    width: 25%;
    background-color: rgb(163 163 163 / 42%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 49%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.div1_form {
    width: 100%;
    height: 30%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label_login{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
    margin-top: 20px;
    display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}


#register-form {
    height: 70vh;
    width: 25%;
    background-color: rgb(163 163 163 / 42%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 49%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div1_form_register {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

#label_register {
  font-size: 16px;
  font-weight: 500;
}

#input_register {
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}
.social_register{
  background: red;
  width: 150px;
  border-radius: 3px;
  /* padding: 5px 10px 10px 5px; */
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}

#button_register{
    margin-top: 15px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.span_register{
        position: absolute;
    bottom: 11%;
    left: 38%;
    color: beige;
}

/* Styles pour les écrans de mobile */
@media (max-width: 768px) {

    .App{
                background-size: 400% 100%;
        height: 86vh;
        overflow: hidden;
    }
    .background {
        width: 73%;
        height: 49vh;
        top: 45%;
        left: 49%;
        position: relative;
    }

    .background .shape {
        height: 100px;
        width: 100px;
    }

    form {
        height: auto;
        width: 80%;
        padding: 15px;
        top: -10%;
        position: relative;
    }

    #register-form {
        height: 62%;
        width: 85%;
        padding: 15px;
        top: -11%;
        position: relative;
    }

    #div1_form_register {
        color: gainsboro;
    }

    #input_register {
        height: 40px;
    }

    .social div {
        width: 120px;
        padding: 5px;
    }

    #button_register {
        margin-top: 15px;
        padding: 10px 0;
        font-size: 16px;
    }

    .span_register {
        bottom: 7%;
        left: 12%;
        font-size: 14px;
    }
}
