* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: auto; /* Au lieu de 7vh */
  min-height: 7vh; /* Pour garantir une hauteur minimale */
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}




.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
    display: flex;
    font-size: 18px;
    width: 35%;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.buttons-user-group{
  width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.group-input-rating{
  display: flex;
   justify-content: space-between ;
   align-items: center
}

@media (max-width:600px) {
  .nav > .nav-links {
    position: relative; /* Modifier la position en relative */
    display: block;
    width: 100%;
    background-color: #333;
    height: auto; /* Au lieu de 0px */
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    /* Supprimer les valeurs top et left */
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    overflow: hidden; /* Ajouter overflow pour masquer le contenu */
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: auto; /* Au lieu de calc(100vh - 50px) */
    overflow-y: auto;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .search-input {
    height: 5vh;
    width: 55%;
    position: relative;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-btn {
    display: block;
}
 
}

.search-input{
  height: 5vh;
  width: auto;
}