@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

a {
  text-decoration: none;
  color: #5C7FB8;
}

a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px / 22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
  height: 81vh;
  overflow: hidden;
}

.container_details {
  margin: 0 auto;
  width: 65%;
  height: 100%;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.hero {
  height: 342px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: red;
  background: url('C:\Users\chedi\movie-card\public\image.jpg');
  z-index: -1;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
  width: 20%;
  border-radius: 20px;
}

.details {
  padding: 190px 0 0 280px;
}

.title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}

.title2 {
  color: #C7C1BA;
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 15px;
}

.description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
}

.column1 {
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left;
}

.avatars {
  margin-top: 23px;
}

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700; }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85; }


