
.c-img{
  height: 325px;

}
body{
  background:-o-linear-gradient(rgb(15, 37, 104),rgb(236, 138, 179rgb(27, 58, 27)1)) ;
}
/*.descr{

  margin: 15%;
  color: blue;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
width: auto;
    height: auto;
    margin: auto;
    background: gray;
    border-block: 20px black;
    font-variant: petite-caps;
    font-style: normal;
    flex-wrap: wrap;
    */
 
      
    